      
      *:focus
{
    outline: none;
}

body > iframe:first-child { display: none !important; }

body
{
    font-family: Helvetica, Arial;
    margin: 0;
    /*background-color: #ffeff5;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-cover
{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 250px;
    height: 150px;
    margin: 10px;
}

#bg-artwork
{
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    /*filter: blur(40px);
    -webkit-filter: blur(40px);*/
    z-index: 1;
}

#bg-layer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
}

#player
{
    position: relative;
    height: 100%;
    z-index: 3;
    box-shadow: 1px 1px 8px #cecece;
    border-radius: 15px;
}

#player-track
{
    position: absolute;
    width: 250px;
    height: 95px;
    border-radius: 15px 15px 0 0;
    /* right: 15px; */
    /* left: 15px; */
    /*padding: 20px 22px 10px 22px;*/
    background-color: #ffffff00;
    /*border-radius: 15px 15px 0 0;*/
    transition: 0.3s ease top;
    visibility:hidden; 
    z-index: 3;
}

#player-track.active
{
    /* top:160px; */
    visibility:visible;
    transition: 0.3s ease top;
}
#player-track.active:hover
{
    background-color: #0000007d;
}

#player-track.active >div
{
    /* top:160px; */
    visibility:hidden;
    transition: 0.3s ease top;
}

#player-track.active:hover >div{
    opacity:1;
    visibility: visible;
    /*background-color: #ff0000;*/
    /*color: #000*/
}


#album-name
{
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    margin: 26px 0 10px 0;
    text-align:center;
}

#track-name
{
    color: #d6d5d5;
    font-size: 13px;
    margin: 10px 10px 0px 10px;
    text-align:center;
    
}


#track-time
{
    /* height: 10px; */
    margin-bottom: 3px;
    margin-left:5px;
    margin-right:5px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 10px;
    background-color: #ffffff00;
    border-radius: 10px;
    transition: 0.1s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #ffffff;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    top: 7px;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#d6d5d5;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #969696;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: auto;
}


#album-art
{
    position: absolute;
    width: 250px;
    height: 95px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    display:block;
}



#album-art:before
{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 15px 15px 0 0;
    z-index: 2;
    opacity:0;
}



#album-art img
{
    display: block;
    position: absolute;
    top: -80;
    left: -1;
    width: 101%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 2;
}

#album-art.active img.active
{
    z-index: 1;
}


#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 95px 0px 0px 0px;
    overflow: hidden;
}

.control
{
    padding: 0 0;
}

.button
{
    padding: 5px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.control:nth-child(2) 
{
    margin: 0 40px 0 40px;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    padding: 5px
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #d6d6de;
}

.button:hover i
{
    color: #fff;
}


